
<head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">Customer List</title>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <div class="top">

                <form class="form-group" method="get" action="search">
                    <div class="inner-form">
                        <div class="input-field">
                            <button class="btn-search" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                                </svg>
                            </button>
                            <!-- HTML !-->

                            <input  id="search" class="form-control" name="keyword" placeholder="Find by Id or Name" size="50" th:value="${keyword}" type="text">
                        </div>
                    </div>
                    <button class="button-78" type="submit">Search</button>
                </form>
            </div>
            <div class="pokeTable">
                <div class="pT_content">
                    <div class="pT_title">
                        <h3>All Pokemons</h3>
                        <a type="button" class="createPoke btn btn-primary" th:href="@{new}">New Pokemon</a>
                    </div>
                    <span></span>
                    <table class="table">
                        <thead>
                        <th scope="col">Id</th>
                        <th scope="col">Preset</th>
                        <th scope="col">Name</th>
                        <th scope="col">Url</th>
                        <th scope="col" style="width: 150px">Actions</th>
                        </thead>
                        <tbody>
                        <tr th:each="pokemon : ${pokemonList}">
                            <th scope="row" th:text="${pokemon.id}"></th>
                            <td><img th:src="@{//raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{id}.png(id=${pokemon.id})}"></td>
                            <td th:text="${pokemon.name}"></td>
                            <td th:text="${pokemon.url}"></td>
                            <td>
                                <a th:href="@{'edit/'+${pokemon.id}}" class="btn btn-primary">Edit</a>
                                <a th:href="@{'delete/'+${pokemon.id}}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</body>